/* お問い合わせ */
.formrun {
    color: #64717E;
  }
  form {
    margin-left: 15vw;
    margin-bottom: 30px;
  }
  form div {
    margin-bottom: 14px;
  }
  label {
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
  }
  input[type="text"] ,
  input[type="email"] ,
  textarea {
    background: #E9EFF4;
    border: 1px #fff solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
  }
  input[type="text"] ,
  input[type="email"] {
    width: 100%;
    max-width: 240px;
  }
  textarea {
    width: 100%;
    max-width: 480px;
    height: 25rem;
  }
  input[type="submit"] {
    border: none;
    cursor: pointer;
    line-height: 1;
  }
  @media (max-width: 600px){
    textarea {
      width: 100%;
      max-width: 240px;
      height: 25rem;
    }
  